[2020-10-16 09:33] JanZimmer opened #6 "Add event on scenario triggering"
According to BOSCH, there is a message sent via the longpoller whenever a scenario is triggered. It would be awesome, if this message could be translated into an event in HA. Thereby, e.g., the Twist Remote will be enabled to trigger scenarios in HA.

For reference, see https://github.com/BoschSmartHome/bosch-shc-api-docs/issues/38#issuecomment-709936391.

[2020-10-17 20:38] tschamm commented on #6
I'll checked for this. What was already possible is to trigger a scenario from within HA, by using the service "boschshc.trigger_scenario".
With boschshcpy==0.1.9 I added the functionality for the other way around. It should now be possible to watch for the event "bosch_shc_scenario_triggered". The event will contain the name, id and lastTimeTriggered provided from SHC.

[2020-10-17 20:38] #6 closed

[2020-11-27 07:47] wsirhc opened #8 "Error adding entities for domain light with platform bosch_shc"
I did install the branch into my custom-components folder from scratch. So due to initializing the boschshc-devices, the following error occurs in HA-Logs. Thus the lights will not be added as entity.

[code]

[2020-11-27 13:13] tschamm commented on #8
I forgot to update the version in manifest.json. Should be fixed with f6dd8f3.

[2020-11-27 13:13] #8 closed

[2020-12-03 15:27] wsirhc opened #9 "Adjusting light color for RGBA-Lightstripe"
So now that I've got a ledvance RGBA-Lightstripe, I'd like to adjust the Light-Color.

Here some device details as json-output from postman:
[code]

Services for this device:
[code]

[2020-12-03 21:02] tschamm commented on #9
I don't understand the meaning of the provided rgb color value. It is neither a color temperature (as provided by hue lights) nor some senseful hex value, which could be interpreted as 0xAARRGGBB. However, I'm not very familiar with this kind of problem.
Can you set your light to some defined colors using the Bosch App and report the rgb values? Perhaps this can help to interpret the meaning of th

[2020-12-04 23:09] wsirhc commented on #9
OK what I've found out is that color is set by,
[code]
So the rgb-value is the decimal equivalent of the Hex-Color-Code.
Red (255,0,0) --> #FF0000 --> 16711680
Green (0,255,0) --> #00FF00 --> 65280
Blue (0,0,255) --> #0000FF --> 255

I managed to set color with this curl:
[code]
Regardless of what brightness I did set, it has no impact to the rgb-value.

[2020-12-17 22:56] tschamm commented on #9
Can you try https://github.com/tschamm/boschshc-hass/commit/142abdf5f4c64ff5b571a2754db512d5b078ca46 if this works for your colored ledvance lights?

[2020-12-18 07:56] wsirhc commented on #9
Works like charm! Thanks for the xmas present :)

<p>
<img width=250px src="https://user-images.githubusercontent.com/20781198/102587907-e6a63f80-410c-11eb-92a7-359c765c568f.png">
<img width=250px src="https://user-images.githubusercontent.com/20781198/102587915-e8700300-410c-11eb-9df4-6df0ad6df347.jpg">
</p>
<br>
<p>
<img width=250px src="https://user-images.githubusercontent.com/20781198/1025879

[2020-12-18 16:52] #9 closed

[2020-12-30 22:29] deennoo opened #11 "More newbie explaination"
Hello,

thx for your work,

1 - I need more explanation on SSl Certificate private and public

Use this terms on your Plugin, but when looking at official guide :
https://github.com/BoschSmartHome/bosch-shc-api-docs/tree/master/postman#register-a-new-client-to-the-bosch-smart-home-controller

They use Certificate and key words, which one is one ?

2 - On Plugin side, that not clearly how path have

[2021-01-02 13:05] deennoo commented on #11
I finally manage to make it work

[2021-01-02 13:06] #11 closed

[2021-01-21 12:18] JanZimmer opened #13 "Vavle Position of Room Climate Control"
In the BOSCH SmartHome App, you can finde the Valve Position (Ventilstellung) of room climate controls as a separate information.

Is this information also available via this integration, and if so, how is it called/do I find it.

Thanks for the great work!

[2021-01-21 13:40] tschamm commented on #13
The valve tappet position is an attribute of each thermostat device, not of the room climate control. It’s already available in the current version.

[2021-01-22 12:44] JanZimmer commented on #13
Awsome, I then have to update my currently running instance.

[2021-01-22 12:44] #13 closed

[2021-01-22 15:49] JanZimmer opened #14 "Device names of Room Climate Controls is always "-RoomClimateControl-""
After updating to the most recent version of boschshc-hass and boschshcpy and runnint a clean integration setup, Thermostats are detected as both "Heizung" and "Room Climate Control" (as before), where Heizung is the sensor and Room Climate Control is the actor.

However, the name of the Room Climate Controls is now always detected with a device name of "-RoomClimateControl-", which makes it hard

[2021-01-22 16:03] JanZimmer commented on #6
Correction: event can be found under "bosch_shc.scenario_trigger"

[2021-01-23 07:39] #14 closed

[2021-01-23 07:40] tschamm commented on #14
Actually that was a bug. I changed the name handling recently, as it happend that the first platform loaded defined the entity name as well as the device name. This is more explicit now.
Thanks for reporting.

[2021-01-25 15:03] JanZimmer opened #15 "As long as boschshc-hass is not part of hass-core, support HACS"
It would be nice, if this custom component was available via HACS. This would made updates a lot easier :)

[2021-01-25 22:29] tschamm commented on #15
@JanZimmer I digged through the HACS documentation and managed to have this CC at least available for HACS custom. I will try to have to repository added to HACS default.

[2021-01-31 19:07] jo-me opened #16 "Thermostat set_temperature not complete"
According to the docs at https://www.home-assistant.io/integrations/climate/
the set_temperature call has an optional hvac_mode parameter which allows to change both the mode and the temperature with one call.

As far as I can see, this is not implemented in this component.

For comparison tado's set_temperature: https://github.com/home-assistant/core/blob/dev/homeassistant/components/tado/climate

[2021-01-31 19:44] tschamm commented on #16
@jo-me I will have a look at this.

[2021-01-31 21:47] tschamm commented on #16
@jo-me Fixed in 40ccc3292975668e83f911eec2f8de6bac5b58ab

[2021-01-31 21:47] #16 closed

[2021-02-06 13:48] JanZimmer opened #17 "Ledvance RGBW are recognized as RGB-only"
After restarting the home assistant, RGBW Ledvance lights are only detected as RGB.

(Another reason might be, that I temporarily tried to put them in a light group. Also, I'm not sure if it was detected as RGBW at all ... quite bad Issue description, sorry)

[2021-02-06 15:05] JanZimmer commented on #15
@tschamm works like a charm. Will updates via HACS also update boschshcpy now? (HASS is running as docker)
Also, the documentation might include the necessary information on how to install via HACS :)
Thanks!

[2021-02-07 10:36] JanZimmer opened #18 "bosch_shc.scenario_trigger event not working"
Since my last update, "bosch_shc.scenario_trigger" doesn't work anymore. However, if I listen to bosch_shc.event, I stell get the "SCENARIO" subtype event.

[2021-02-07 10:41] tschamm commented on #18
There has been a breaking change with the last commit.

All `bosch_shc` events are consolidated as `bosch_shc.event` trigger events. With this change, it is possible to create automation triggers directly from the device list. Devices which provide events are:

`WRC2`: Universal Switch devices, for upper/lower button pressed short/long
`MD`: Motion Detector devices, if a motion event is detected
`

[2021-02-07 10:44] #18 closed

[2021-02-07 11:22] JanZimmer commented on #18
@tschamm thanks :) actually at this point, alle your changes improve stuff so much, that some simple changes on my side are more than bearable.
Thanks for your quick response!

[2021-02-07 11:30] tschamm commented on #17
I guess the light platform never did support RGBW. The SHC interface is limited to RGB color values. Can you describe what kind of parameter you are missing?

[2021-02-07 11:34] JanZimmer commented on #17
So for RGBW, besides the option of setting RGB values, there is the option of setting the color (or white) temperature (I think they also call it hue). This will enable the W-LEDs in the bulb instead of "mixing" the color with the RGB-LEDs.

(I had a quick look though your code, I think you even have the needed services implemented, maybe the Ledvance bulbs just return wrong available services via

[2021-02-07 12:15] tschamm commented on #17
The two relevant services are `HueColorTemperature` and `HSBColorActuator`. For devices which support only HueColorTemperature, everything is fine. I'll have a look why the color temperature is not shown for devices which support both.
Thanks for reporting!

[2021-02-07 12:21] tschamm commented on #17
@JanZimmer Can you confirm (e.g. via `postman`) that your RGBW device provides both services, `HueColorTemperature` as well as `HSBColorActuator`?

[2021-02-07 12:48] JanZimmer commented on #17
@tschamm here you go:

[2021-02-07 12:53] JanZimmer commented on #17
Also here ist the output for each of the services for documentation purposes:
[code]

[2021-02-07 19:02] #17 closed

[2021-02-07 19:15] tschamm commented on #17
@JanZimmer Light platform now supports color temp. I use the `HSBColorActuator` for setting the temperature, this should be fine as I guess the light hardware itself handles which type of LEDs are used. If the upstream issue you opened will be fixed, we can change behavior in the light platform.
Regards, Thomas

[2021-02-08 09:29] JanZimmer commented on #17
@tschamm thanks.
So BOSCH does not consider supporting the HueColorTemperature Service in the future. Seems to be a bit more challenging, than I thought. Thanks anyways :) I might have a more detailed look into things in the future

[2021-02-08 14:44] #15 closed

[2021-02-09 08:38] JanZimmer opened #19 "Bug related to color temperature conversion"
There seems to be a bug in the conversion code for white temperatures (see log below). Seems that the color temperature cannot be gathered correctly?

Related: #17

[code]

[2021-02-09 08:46] JanZimmer opened #20 "Check whether temperature is settable on room climate, before setting it"
This is not really a big issue, but before setting a temperature on a room climate, one should ensure that the room climate is not in 'Lo' mode (window open). Otherwise, setting the temperature anyways will result in an error in the logs.

[code]

[2021-02-09 21:09] tschamm commented on #19
The integration returned 0 if the device does not provide a color temp. I'm wondering what would be correct? We may return either `None` or a color temperature derived from an rgb value. However, this mapping is not defined AFAIK.

[2021-02-09 21:11] JanZimmer commented on #19
Aren’t the conversion functions reversible in some kind of way (or are there any precision errors)?

[2021-02-09 21:24] tschamm commented on #19
At least I'm not aware of any function implemented in HA doing this. There are some solutions described how to map an xy-color space to color temp, or some approaches using [lookup tables](https://andi-siess.de/rgb-to-color-temperature/) but I do not prefer to have this integration calculate this in some magic way.

Can you report how it behaves when `None` is returned?

[2021-02-09 21:50] tschamm commented on #19
After a quick test, `color_temp` property is not reported in the `states_attributes` anymore. The `hue` integration also ignores the conversion from `rgb` to `color_temp`. I hope it's fine for you to close the issue.
Otherwise please reopen, if you are aware of a transformation.

[2021-02-09 21:50] #19 closed

[2021-02-09 21:53] tschamm commented on #20
Thanks for reporting. I did not test this in my installation, so please reopen, if this fix does not work for you.

[2021-02-12 19:55] philjak opened #21 "Failed to connect"
Hello everyone,

just bought a Bosch Smart Home Kit because of the possibility to integrate it into HA. Unfortunately, I have issues connecting my HA with my SHC. Even the IP is correct (I already create a key-pair and added the client), I got this message:

![image](https://user-images.githubusercontent.com/5772650/107816137-9d711580-6d74-11eb-837d-bf40422df5bf.png)

My HA is running in a docker

[2021-02-12 21:55] tschamm commented on #21
@philjak Please check if your docker installation works properly with mDNS. For the configuration option of the HA discovery, see [here](https://www.home-assistant.io/integrations/discovery/#mdns-and-upnp).

[2021-02-12 22:22] philjak commented on #21
Hey @tschamm,

Thanks for your quick reply. And thanks for the hint! You're probably right. But I think there is no way for me to get mDNS running. The server running HA is connecting to my home network (Fritz!Box) via VPN.

Is mDNS mandatory for the functionality of Bosch and HA? I didn't have any issues with other integrations so far.

Best regards,
Philip

[2021-02-13 21:06] tschamm commented on #21
@philjak I changed the behavior to create a unique id to your suggestion with commit 71bc659. Can you check if this works for you? You will observe a warning in your HA logs instead.

[2021-02-13 21:24] philjak commented on #21
Dear @tschamm,

first of all: Thank you so much for spending time in helping me with that issue. I really appreciate it!

Unfortunately, it seems not work. I get an `Unexpected error` now. I have to say, I reinstalled the repository with HACS. But I guess this is automatically using the latest master commit? Or do you recommand cloning and copy & pasting the folder to HA?

![image](https://user-im

[2021-02-13 21:26] tschamm commented on #21
I'm looking into the source of the error currently, as I just found the same error in my setup.

[2021-02-13 22:14] tschamm commented on #21
@philjak Please give it another try. Default headers were not allowed for `publicinformation` the rest call.

[2021-02-13 22:24] philjak commented on #21
@tschamm You are my hero.

![image](https://user-images.githubusercontent.com/5772650/107863188-6c671280-6e52-11eb-9956-7c2541514e50.png)

Thank you very much - for helping me with this issue as well as for keeping up this project!

[2021-02-13 22:24] #21 closed

[2021-02-13 22:25] tschamm commented on #21
You're welcome.

[2021-02-16 19:15] jo-me opened #22 "Battery level always 100%"
Hi,
all of my thermostats show 100% battery level, even the ones I have used for months.

Is this a bug or (mis)reported by the gateway?

Thanks!

[2021-02-16 20:32] tschamm commented on #22
Battery state is only reported as `low` or `critical low`, everything else is equal to `full` via API. So it‘s fine your devices report 100% so far.

Low is equal to 20%, critical low 0%, if you want to write automations based on these values.

[2021-02-16 20:32] #22 closed

[2021-03-09 12:20] bitdevil007 opened #25 "Sensor from Thermostate not found"
Hi,
the temperatur-sensor from the Thermostate is not found in the Integration.
In the climate.room sensor will ist works but i want the temperatur-sensor separately.
How can i catch the Sensor?

Can you help me?

[2021-03-09 12:43] tschamm commented on #25
The temperature value is represented as a sensor entity, e.g. sensor.thermostat_kitchen.

[2021-03-09 13:49] bitdevil007 commented on #25
Now i have found it, sorry.

[2021-03-09 13:49] #25 closed

[2021-04-29 11:40] endsideX commented on #20
Thank you for the great integration.

Unfortunately, I observe the same phenomenon as JanZimmer. When the windows are open and I operate the thermostats I get the error :

2021-04-29 11:29:59 ERROR (SyncWorker_3) [root] Body: {"@type": "climateControlState", "setpointTemperature": 5.0}
2021-04-29 11:29:59 ERROR (SyncWorker_3) [root] Headers: {'User-Agent': 'python-requests/2.25.1', 'Accept-Encodin

[2021-05-02 16:12] tschamm commented on #20
I confirm the phenomen, I guess this only happens after you reset the room climate control mode to AUTOMATIC mode. I reported this as a bug in the Room Climate Control behavior within the SHC system: https://github.com/BoschSmartHome/bosch-shc-api-docs/issues/51

[2021-05-02 16:24] #20 closed

[2021-05-03 07:58] christianreiss opened #26 "Door Sensor in Automation"
First off,

thank you for some great work. I was following your merge request on HASS which is nearing its first birthday. Congratulations on a 1-year old request and your tenacity :)

The entire thing works like a charm and my Bosch stuff (underfloor heating controls, shutter controls, smoke detectors, twinguards etc) work great. The only thing thats a little off is the door sensor. It does detec

[2021-05-03 20:20] #26 closed

[2021-05-03 20:29] tschamm commented on #26
@christianreiss thank you for reporting this bug. The access to the session object for device triggers did not work anymore after the last update.
Now you should be able to select a device (e.g. Büro Tür) and choose between `opened` and `closed`.

However, you can also select an entity and watch if its state is `on` (Opened) or `off` (Closed) like you suggested using Developer Tools.

[2021-05-04 10:12] christianreiss commented on #26
I can confirm it works -- thank you very much!

[2021-05-04 10:49] christianreiss opened #27 "Bosch Water"
Hey,

the Water Alarm (https://www.bosch-smarthome.com/uk/en/products/devices/water-alarm/) does not show up. Seems to be trivial to include? Should work like the smoke detectors which should work the same.

I can supply you with any data you might require.

Thanks!

[2021-05-04 11:57] tschamm commented on #27
If possible you can provide the services of the water alarm, as well as the service states.

Of course you can also implement it by yourself, I will be happy to review and give feedback!

[2021-05-04 16:41] tschamm commented on #27
@christianreiss The water leakage sensor was already added in the `boschshcpy` library. I added the basic functionality for a binary sensor and published a pre-release version: https://github.com/tschamm/boschshc-hass/tree/0.4.2.dev0

Can you please test if the sensor is detected, and if state change is reported correctly?

[2021-05-14 12:26] christianreiss commented on #27
I am sorry I only got time for this now.
Life was hell (was moving in real live). Internet etc back up.

Is the proposed change still only in 0.4.2-dev0 or was it merged/  moved already?

[2021-05-15 06:49] tschamm commented on #27
Congratulations then to your new living place!
The enhancement is already added in 0.4.2. Nevertheless, I would be very happy if you can confirm the water leak sensor woring properly.

[2021-05-18 14:26] christianreiss commented on #27
Thanks :)

I checked out currrent master release, restarted HA and even the integration (which is pointless) but still no water detection device. It is visible in the Bosch App, but not in HA. I checked all detected entries manually.

[2021-05-18 19:12] tschamm commented on #27
Thanks for reporting! Maybe the device implementation on boschshcpy side is not fully working. Can you provide the following info, e.g. via `postman`:

* `deviceModel` of the water detection sensor
* `deviceServiceIds` of the water detection sensor

That would be great!

[2021-05-21 11:58] christianreiss commented on #27
Humm,

could you give me quick commands to give you the data? Thanks :)

[2021-05-23 18:05] steffann1968 commented on #27
Hey,
due to I have the same issue, here my log from postman:

        "deviceServiceIds": [
            "CommunicationQuality",
            "BatteryLevel",
            "WaterLeakageSensorTilt",
            "WaterLeakageSensor",
            "WaterLeakageSensorCheck"
        ],
        "manufacturer": "BOSCH",
        "deviceModel": "WLS",

  By the way, thanks for your work & time doing this great

[2021-05-24 15:58] tschamm commented on #27
Thanks for the log, the deviceModel was actually different to what I expected. I fixed this in [boschshcpy==0.2.18](https://github.com/tschamm/boschshcpy/releases/tag/0.2.18), which is pulled by https://github.com/tschamm/boschshc-hass/commit/46949e533908f08333c477f876cc34a1e858a7c9
Can you give feedback, if it works now?

[2021-05-24 20:43] steffann1968 commented on #27
After updating to 0.43 I get following error message:

_Error while setting up bosch_shc platform for binary_sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 231, in _async_setup_platform
    await asyncio.shield(task)
  File "/config/custom_components/bosch_shc/binary_sensor.py", line 94, in async_setup_entry
    WaterLeakage

[2021-05-24 20:49] tschamm commented on #27
Thanks for reporting! I provided a hotfix for 0.4.3, can you test it?

[2021-05-24 21:27] steffann1968 commented on #27
Perfect, thanks.
It's in now.
![image](https://user-images.githubusercontent.com/73201240/119409235-48d02580-bce7-11eb-9b22-28b67e7f391b.png)

Should the tilt message also be available as binary?

[2021-05-25 15:53] #27 closed

[2021-05-25 15:54] tschamm commented on #27
Tilt message will be available via attributes of the entity.

[2021-05-26 11:57] steffann1968 commented on #27
Sorry, I am not so confirm with the attributes. But should it been visible in the entity card configuration like the twinguard?
Or do I have to configure this inside the sensors.yaml?
![image](https://user-images.githubusercontent.com/73201240/119655667-23980000-be2a-11eb-91be-8a9c39752d2c.png)

[2021-05-26 19:03] steffann1968 commented on #27
I was still on version 0.4.4 and after update to 0.4.5 I could see the state of push_notification and acoustic_signal.
Sorry for confusion. Tilt state I could still not see.
![image](https://user-images.githubusercontent.com/73201240/119716183-23692600-be65-11eb-80b4-81ef6e32b2b6.png)
![image](https://user-images.githubusercontent.com/73201240/119716192-26fcad00-be65-11eb-96de-5893d4659007.png)

[2021-06-06 10:33] tschamm commented on #27
Good to hear you can see the `push_notification` and `acoustic_signal` states. What are you missing from the tilt state. AFAIK, the `WaterLeakageSensorTilt` service reports only those two states.

[2021-06-07 16:00] steffann1968 commented on #27
When the sensor is moved e.g. by hand I get a warning message in the Bosch Smart Up "Der Wassermelder wurde bewegt"
When I disable the "Push notification message" I don't get this message.
Refer to attached picture.
I don't know how to get the "Tilt message"  in home assistant.
Same for battery status.
![image](https://user-images.githubusercontent.com/73201240/121051623-e0d71000-c7b9-11eb-8963-1a

[2021-06-10 07:59] JanZimmer opened #28 "How to migrate from custom component to native support"
Congrats on being accepted as an official hass integration :)

Is there anything that has to be done before updating home assistant to the most current version for those who are already using the custom integration?

Thanks!

[2021-06-10 08:30] tschamm commented on #28
Thanks! 😊
You can have both integrations, the official as well as the custom component, installed in parallel. Thus you can just update to 2021.6.
As there are still many features missing in the official integration, I suggest you‘ll keep the custom component installed.

[2021-07-07 17:24] therealhalifax opened #29 "Universal Switch not working after HA 2021.7 update"
After I update my Home Assistant core to 2021.7 today the Universal Switch does not work anymore. I mean its shown as entity but in the Automation only the battery level could be selected as trigger, but not anymore the button press events.

[2021-07-07 17:30] therealhalifax commented on #28
With the update to 2021.7 came up more sensors, but I am not sure if this is everything? Will also the Heater control work?

[2021-07-07 18:58] therealhalifax commented on #28
How to use both in parallel? I try today, but there came up "Device already configured". And i see only one integration called Bosch SHC. I assume thats the custom one?

[2021-07-08 06:39] tschamm commented on #28
When you have the custom component installed, you cannot use the official in parallel. Have a look into the full log to see if the custom component is used. At the beginning of the logs it should show something like:
`We found a custom integration bosch_shc which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues wit

[2021-07-08 06:59] therealhalifax commented on #28
@tschamm But above you wrote that both in parallel. Yes i am sure to use the custom one. There is also a small icon shown which indicates that it is a custom integration.

anyway, unitl now I am fine with the custom one, I just wanted to give the core one a try since I am faced with a bug with the last HA update.

Hope you can fix that, I really like your integration. It was also the main reason f

[2021-07-08 16:41] therealhalifax commented on #29
@tschamm thanks for the fast bug fix. with your update it works now :-)

[2021-07-09 18:32] tschamm commented on #29
Fixed with be86f17

[2021-07-09 18:32] #29 closed

[2021-07-09 18:35] tschamm commented on #28
@therealhalifax That was misleading, I meant you can have installed both in parallel. However, if the custom component is installed, it will be prioritized over the official integration. Thus, if you want to use the offical integration, you'll have to remove the custom component.

[2021-07-13 06:50] therealhalifax opened #30 "Battery sensors became binary sensors"
With the last update the Battery sensors became binary sensors, which is a bit confusing. I read the other issue from Februar where you explained that the sensor reports only normal, low and critical low. But now it is reduced just to 2 states. Which state is used for fault state? Low or critical low?

[2021-07-20 08:10] JanZimmer opened #31 "call_service throws 503"
In an automation, I'm currently setting eight covers at once to a custom position.
Sometimes, the automation dies with an HTTP-503 error (see log attached). Unfortunately, this is not reproducible in a reliable manner.

I'm not sure, if I'm using too many "calls" at once. Does the integration queue the requests and sends them one by one or are they sent as soon as they "arrive"? I'd guess that thi

[2021-07-21 20:39] t3t3 commented on #30
keen to know that too; really hope the low (20%) state is covered since this is imo most important (in order to replace batteries in time, not if they have died already).

personally i think i.e. a gauge showing 100/20/0 is still better than an on/off icon (whatever it might mean in particular)...

[2021-07-22 07:45] tschamm commented on #30
I agree on that, however the binary behavior was required by ha-core dev team.
The battery state is reported `off` as soon as the reported battery state is `not ok`. So it covers all three states 20/0/not_available. For the states 20/0, there will be reported a warning.

If you have suggestions how to further improve this, I would be happy to read.

[2021-07-22 07:48] tschamm commented on #31
I'll have a look on this. I am currently working on an async version, maybe this solves the issue. At my home, I control up to 11 covers (opening/closing). I will test what happens if I execute a custom position call to all covers at once.

[2021-09-04 17:58] cars1806 opened #32 "Integration not working after latest bosch smarthome controller update."
Hello,

since I updated my bsc to the newest firmware (10.2.2164-20551) the shutter controls are not working anymore.
The climate control and contact sensors are working as normal.
I get the following error logs when trying to control my shutters:

2021-09-04 19:36:00 ERROR (SyncWorker_3) [root] Body: {"@type": "shutterControlState", "level": 0.0}
2021-09-04 19:36:00 ERROR (SyncWorker_3) [root] He

[2021-09-05 08:25] tschamm commented on #32
I have the same firmware running and have no problems when opening/closing the covers. Did you try to restart Home Assistant?

[2021-09-08 12:21] M3m0rys opened #33 "Alarm Control panel states not working"
since the last updates of Bosch SHC and HA the states of the Alarm Control Panel are not or false displayed in HA

[2021-09-09 06:06] JanZimmer commented on #32
I am experiencing another bug after the same update.

Somehow, the integration changed the IP of the SHC to 169.XX.XX.XX and refuses to automatically change it back.

[2021-09-09 13:38] cars1806 commented on #32
Sorry for the late reply.
So I did restart the system several times with no luck.

But what I noticed now is the following: Everything works normal if I control the shutters with my hue dimmer switch (connected directly to HA with a zigbee stick). But as soon as I try to control it via HA UI, I get this error messages and I can't control it anymore with the hue switch either for a period of time (

[2021-09-09 13:53] cars1806 commented on #32
What I wanted to add, as you can see in my original error logs I got the same issues as @JanZimmer. Theres also this 169.XXX.XXX.XXX ip-address and also the Error 503 he mentioned in another thread.

I have a hard time to explain all that stuff in Englisch, if you need some more explanation and information about the issue, maybe I can better assist you in german if that's possible in some way here

[2021-09-09 18:07] tschamm commented on #33
I can confirm a strange behavior since the last HA update. I will have a look on the reason.

[2021-09-09 18:10] tschamm commented on #32
Thanks for your comments. I observed the IP change once in my setting, but I don't have a clue if the reason is on HA side, zeroconf or anything else.
@cars1806 Thanks for pointing out the IP, I didn't see this in your first comment. Hopefully this is the reason for the strange behavior.

[2021-09-09 20:37] #32 closed

[2021-09-09 21:07] #33 closed

[2021-09-10 00:56] cars1806 commented on #32
Todays update did not change anything, but I deleted the integration and reconfigured it. Now it works perfectly again. Should have tried that before. I was worried I could lose my automations. But thankfully that's not how HA works. Sorry for the inconvenience.

But thank you so much for your work!

[2021-09-24 08:10] saxn-paule opened #34 "Bosch SHC isn't discovered"
After installing the custom component via HACS (v0.4.12) and restarting HA the SHC isn't discovered and I'm not able to configure the integration.

`Failed to get public information from SHC controller: HTTPSConnectionPool(host='169.254.112.7', port=8446): Max retries exceeded with url: /smarthome/public/information (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7f1

[2021-09-27 19:44] tschamm commented on #34
@saxn-paule This issue is related with link-local addresses reported by zeroconf. Obviously, the last patch did not fix this correctly and I have to dig deeper into this issue. You can try to configure the component not by using zeroconf, but instead by adding it via the menu (Settings -> Integrations -> Add Integration -> Bosch SHC) using the correct IP address of the SHC.

[2021-09-27 20:38] saxn-paule commented on #34
Do I need to delete the official integration after I added the SHC?

[2021-09-27 20:40] tschamm commented on #34
Yes, you have to delete the integration in the menu.

[2021-09-27 20:45] saxn-paule commented on #34
Thank you. That seems to work. I will update this issue when I got some Bosch devices.

[2021-09-30 12:25] saxn-paule commented on #34
Got a TRV that works without any issues.
The only drawback is, that it was found only after a reboot of Home-Assistant.

[2021-10-04 20:41] tschamm commented on #34
Fixed discovery step by commit 1e5c48a24e36678a3e53f3644ad40d7bbf7c22a9.

[2021-10-04 20:41] #34 closed

[2021-10-06 19:26] braunMarkus opened #35 "Integration "broken" after Update of Bosch Controller"
Hello everyone and thank you so much for this smooth integration!

It works fine but one small issue grinds my gears:
Whenever the Bosch Controller is doing an update, I have to restart the Home Assistant (or better: the integration) to make it work again.
I am new here and I am not sure whether this is an "issue" anyway and just wanted to ask if you are aware of that?

[2021-10-07 19:14] therealhalifax opened #36 "No temperature values in 0.4.16"
Since the update to 0.4.16 the temperature of the valves and also the thermostate is not shown anymore.

Sensor not available is shown.

After downgrade to 0.4.12 it works again.

[2021-11-01 20:39] NilsGG commented on #36
I had the same error on my System with the temperatures not showing up correctly after the Update to 0.4.16+. It seems to result from the API change in the HA core. @tschamm I have not yet looked at the API change of HA fully, but it seems to be the result of the property name change of [state](https://github.com/tschamm/boschshc-hass/blob/master/custom_components/bosch_shc/sensor.py#L158). Hope i

[2021-11-02 22:09] tschamm commented on #36
Thanks for reporting. The defined entity attributes were overwritten by the implementation in the parent class. Fixed by https://github.com/tschamm/boschshc-hass/commit/30d169251fd8eab77687eef96057d6f9b630cf7f

[2021-11-02 22:09] #36 closed

[2021-11-02 22:24] tschamm commented on #36
You have to delete the wrongly created entities by hand. Sorry for the trouble!

[2021-11-09 10:55] JanZimmer commented on #36
@tschamm I just updated again from 0.4.12 to 0.4.18.

I understand, that `current_temeprature` is now an attribute of `climate.XXX`. However, before this update, there were also `_sensors_` for the temperature called `sensor.XXX_temperature`. These do not get any values after all.

This is especially bad, as `climate` represents one "room" whereas these sensors were bound to specific thermostats w

[2021-11-09 12:25] JanZimmer commented on #36
Solved. Updating to HASS 2021.11.2 resolved it.
I think there should be some hint on breaking changes and/or minimal dependencies in the release notes :)

[2021-11-10 21:05] tschamm commented on #36
Good idea, I'll take this in for the next release.

[2021-11-10 22:25] h4sk33r opened #37 "Enable/Disable Alarmpanel with presence detection"
Hi,

thank you very much for this nice integration. Can you please help me with a couple of questions regarding the integration, as I am new to HA and python/YAML:
1. how to enable/disable the alarm_panel with an automation?
2. is there a way to add a Smoke detector to the HA alarm panel as a siren?

Basically i want to ditch the Bosch APP for everything except the initial device setup.

Thank you

[2021-11-15 20:38] #37 closed

[2021-11-15 20:39] tschamm commented on #37
Hi @h4sk33r,
did you proceed with enabling/disabling the alarm_panel? Currently, there is no documented way to use the smoke detectors as a siren.
Best, Thomas

[2021-12-01 18:19] h4sk33r commented on #37
Hi,
Thank you very much for responding back. In the end I did find the way to enable the alarm panel with an automation.
For everyone also needing help:

`action:
  - service: alarm_control_panel.alarm_arm_home // alarm_control_panel.alarm_disarm
    target:
      entity_id: alarm_control_panel.intrusion_detection_system`

[2021-12-03 21:26] moritzbeck01 opened #38 "Shutter contact position reversed"
First of all; thanks for the great integration! If you need any testers I'm happy to help with whatever I can.

I noticed that when using the shutter contacts, the reported position is inverted. E.g. "0" is closed and "100" is open, which I find counterintuitive. The open and close buttons do work correctly, though.
I found no easy way to fix this for all shutters at once, but it can certainly be

[2021-12-03 22:38] moritzbeck01 commented on #38
See https://github.com/tschamm/boschshc-hass/pull/39 for the pull request.

[2021-12-04 21:06] tschamm commented on #38
Thanks @moritzbeck01 for your suggestion. For the boschshcpy library, the library just reports the states and does not do any interpretation of the values. Actually I'm not getting you point, so maybe you can help me to fully understand the issue:
Within the Bosch App, a fully closed cover has position 100%, the Bosch API reports the level with 0., this is why a closed cover is processed in boschs

[2021-12-05 20:21] moritzbeck01 commented on #38
I did not know about the requirements by the Home Assistant Docs. Though it seems counterintuitive to me, especially when it's reversed in the Bosch App, I guess you have to and it's better for compatibility to comply to those guidelines.

The open and closed states are being reported correctly, they do not need to be reversed like in my pull request. The underlying issue was on my side.

Google A

[2021-12-05 21:17] moritzbeck01 commented on #38
I think it happens [here](https://github.com/home-assistant/frontend/blob/master/src/components/ha-cover-controls.ts) in the first two functions.
I cannot find that file within my Home Assistant installation. Any idea how I can modify it on my end easily?

[2021-12-10 06:29] Gloomyeye opened #40 "Exception discovery_info.get('name') since 2021.12"
Hello,

I get the following error message with the current 2021.12 beta of home assistant:

Logger: homeassistant.helpers.frame
Source: helpers/frame.py:103
First occurred: 07:23:36 (1 occurrences)
Last logged: 07:23:36

Detected integration that accessed discovery_info.get('name') instead of discovery_info.name; this will fail in version 2022.6. Please report issue to the custom component author

[2021-12-10 08:16] tschamm commented on #40
Thank you for having a look also on compatibility with beta versions of home assistant. The necessary changes have been introduced already within release 0.4.19 with commit fab0fc9befd148766a6199f3b1bf2e80bc9e3c56.

[2021-12-10 08:16] #40 closed

[2021-12-11 07:28] schreierc84 opened #41 "AttributeError: module 'homeassistant.components.zeroconf' has no attribute 'ZeroconfServiceInfo'"
Thank you for providing the Bosch Smart Home Integration. I'm looking forward to use it. But I'm facing an issue after installation.

After installation as described in https://github.com/tschamm/boschshc-hass#readme I've restarted Home Assistant. Now I see following error in the logs:
[code]

I'm running Home Assistant 2021.11.5

[2021-12-11 07:55] tschamm commented on #41
The version you are using is a pre-release, working only with the current 2021.12 beta. Please install either the component in 0.4.18 or use the current beta of home assistant.

[2021-12-11 07:55] #41 closed

[2021-12-11 08:12] schreierc84 commented on #41
Thank you, @tschamm!
I'm new to GitHub, is there a better way to ask such maybe stupid questions where the bug is in front of the computer :) ?

[2021-12-11 10:40] tschamm commented on #41
All fine. But there is also a forum on [home-assistant.io](https://community.home-assistant.io/t/bosch-smart-home/115864/257)

[2021-12-12 20:40] MarkusMWolff commented on #35
Hello Markus,
I have had the same thing happen to me. However the devices/Entities in Home Assistant did not report to be non responding, but rather reported their last known state indefinitely. It happened to me with the builtin component. Since I switched the custom component no updates have happened yet.
I guess when you are developing a component it needs to be restarted so frequently that you

[2021-12-13 18:06] MarkusMWolff commented on #35
Hello!
I have a brief update! I am using the current version of the custom component. My controller did an update and the entities reported to be not available during update and came back immediately afterwards and also updated their information. It seems to all work as expected.
BR

[2021-12-15 21:35] shllg opened #42 "Not able to connect / connection failed"
Hi there,

at first I want to thank for the work being done to make this integration possible. Unfortunately, I'm not able to make the integration work. After several hours trying, I'd like to ask for some support here.

Specs:
- HassOS 7.0
- HA 2021.12.2 (via Docker)
- Bosch Smart Home Controller and HA in the same network
- Multiple other systems/devices discovered inside the network by HA

Neit

[2021-12-15 22:08] armin-gh commented on #42
Perhaps a stupid question but you didn't mention it.... you did press the button on the controller and the LEDs started to blink?

You might see a bit more in the log after enabling logging for the component in configuration.yaml:
[code]
Not 100% sure about the name for the logger, boschshcpy does show some output on my test system, don't get much from the custom component

Armin

[2021-12-16 14:48] shllg commented on #42
Hi @armin-gh
thank you for the fast response.

It's a valid question. But yes - I tried several ways (hold press while HA is running, hold press and reboot HA etc.). Didn't make any difference.

I pasted the config to `configuration.yaml`, restarted and tried again. I cannot see any new logs except of the normal "starting" / "stopping" stuff.

Again, if I choose e.g. another (wrong) IP address, er

[2021-12-16 15:32] shllg commented on #42
There are several more log entries. I seems to discover the service:

[code]

There are many DNSIncoming/DNSOutgoing logs per second, but I guess it's not important:

[code]

[2021-12-16 16:19] shllg commented on #42
First seconds of the log filtered by keyword "bosch"

https://gist.github.com/shllg/5086dd5305f3e928e15abeb81911a9d6

"bosch_shc" component is loaded but nevery logs anything. Homekit integration recognizes the Bosch controller but (as supposed to be) does not add it since it's already added to Homekit.

[2021-12-16 16:36] armin-gh commented on #42
And the LEDs on the controller still blinked when you entered the Hostname/IP and pressed the "Abschicken"-Button? Because otherwise the controller won't accept the new client.

not sure if it is related, a while ago I had a discussion over in the Home Assistant Community related to the Synology-Integration. It did not recognize the integration because of an orphaned entry for the device in "core.

[2021-12-16 17:00] shllg commented on #42
Nope, won't stop blinking.

I checked every file in the storage folder. Found some references which were based on a FritzBox linking service. Removing those entries did not fix the issue.

[2021-12-16 19:01] armin-gh commented on #42
Anything in the core.config_entries with a "unique_id" matching the MAC of your Bosch-Controller?

Otherwise I'm lost here... sorry

[2021-12-16 19:08] tschamm commented on #42
Thanks for reporting. I double-checked creating a connection with a clean HA config in my test setup. Works without any issue ...

My logger configuration:
[code]

The log should report this, when the password is wrong:
[code]
The core config_entry should look somewhat like here:
[code]

[2021-12-16 19:17] tschamm commented on #42
Can you post information on HA system health? see Configuration -> Configuration -> Info.

If you are using docker, please make sure to add `--net=host` to the options.

[2021-12-17 11:32] shllg commented on #42
No -.-

I'm very grateful for your efforts! @armin-gh

@tschamm Thank you for your reply. Which password are you referring to? I changed the logger config and tried again - without success. It always fails at the "asking for Host" part. Again - entering the right IP does not produce any logs. Entering a wrong address (to test if logging works) will log `Failed to get public information from SHC co

[2021-12-17 13:32] tschamm commented on #42
Can you test the following on a machine with python3.9 and boschshcpy installed?
[code]
This should result in a json result including a `token`, a `cert` and a `key`.

[2021-12-17 15:47] shllg commented on #42
Since the linux is pretty downsized, I need to use the OpenSSH plugin for HA which basically logs me in into HA container directly - I guess...

---

First try of `from boschshcpy import SHCRegisterClient` resulted in missing package. So there is no package `boschshcp` installed. Shouldn't it be automatically installed due to dependencies?

---

I installed everything to run your test code above:

[2021-12-17 15:57] shllg commented on #42
Ok I provided wrong information - sorry about that. Didn't know how the ssh addon works. Seems like it spins up a dedicated container with shared folder structure. It seems not to be the actual HA container. That's why importing default HA py resources won't work too and the installation steps above are required.

At least we know, that the boschshcpy call works from inside the environment.

[2021-12-17 16:06] shllg commented on #42
Logged in into the machine and container directly. The code works in `homeassistant` container and returns the token etc.

[2021-12-17 18:13] tschamm commented on #42
That at least sounds good. Can you check what happens if you try to configure the component using a wrong password?
I will have a look into the code what the issue could be...

[2021-12-17 20:08] shllg commented on #42
How can I provide the information via config? Didn't find it in the readme.

At the UI, I won't get to that point.

[2021-12-18 10:49] tschamm commented on #42
Are you using the custom component?
Configuration -> Devices & Integrations -> Add integration -> bosch shc -> "Enter the correct IP address" -> "Enter a wrong password"
You should at least see some messages in the log, and a warning that the password was either wrong or the SHC was not in authentication mode.

[2021-12-18 15:59] shllg commented on #42
😅 well as stated above, I never get to that point. It always fails after entering the host (result is the screen on my original message).

I tried the included version but also checked out the repo and symlinked the custom_components/bosch_shc into the config folder. Both do not work.

[2021-12-19 14:11] shllg commented on #42
I tried to find out a bit more - am not very profound with Python - so it takes a while. The error message (`cannot_connect`) is generated here:

`config_flow.py:193`

[code]

Seems like to be the call `self.hass.async_add_executor_job` inside `_get_info`.

[2021-12-19 14:24] shllg commented on #42
<img width="1089" alt="Bildschirmfoto 2021-12-19 um 15 24 02" src="https://user-images.githubusercontent.com/5073881/146678345-a6810839-a5b2-4c82-af14-6ebdbbf15e08.png">

[2021-12-19 16:15] tschamm commented on #42
That's odd. What version of the SHC controller are you using? Something like 10.4.2284-22213 or -22214?
It seems the keyword shcIpAddress is not available, this should be provided via the public information. you can use either postman, or display the information via
[code]

If you have an older version installed, I suggest to update the SHC controller. If this won't work, I need to write a workaro

[2021-12-19 22:09] shllg commented on #42
The controller version is `10.4.2284-22213`.

A strange thing is, that inside the SHC app, "IP address of the Smart Home Controller" is empty always. The SHC gets a fixed IP from the DHCP. The system works properly - with Homekit too.

Resetting the controller did not solve anything.

The `information` api call returns:

[code]

Those information should container the `shcIpAddress` field?

[2021-12-19 22:45] tschamm commented on #42
Thanks for confirming that. I have never experienced this, I will see if I can provide a fix for this before Christmas.

Maybe it would be worth opening a ticket in the [Bosch API repo](https://github.com/BoschSmartHome/bosch-shc-api-docs). Would be interesting what caused this.

[2021-12-20 10:07] shllg commented on #42
As stated in the bosch-shc-api-docs project, the field is only omitted, if the controller cannot determine it's own IP address (which is strange since communications work). I created a ticket directly at the Bosch support page.

[2021-12-20 16:03] armin-gh commented on #42
While you wait for a response from Bosch-Support... anything special you are using as DHCP-Server?
Really odd that the Controller responds to the IP-Address, but does not show the same Address in the App or in the JSON retrieved via the API.
Also wondering what role Homekit is playing here... the MAC shown for the IP in the output of "arp -a" matches the MAC for the Controller? Should start with 6

[2021-12-20 20:31] #42 closed

[2021-12-20 20:34] tschamm commented on #42
I just pushed a new pre-release 0.4.22 which you can install via HACS, which fixes a missing IP address in the public information. Can you test the pre-release and provide a short hint, if this works for you?

[2021-12-22 13:22] shllg commented on #42
Sorry for the late reply. Vodafone kicked us out of the internet for multiple days -.-

@tschamm I'm so grateful - thank you very much! It is working. With the new code, the zeroconf worked. Just needed to enter the password and all devices are connected!

@armin-gh No special DHCP. I don't expect any response from Bosch soon... But yes, it's pretty odd. MACs are correct. Everything is detected. B

[2021-12-29 10:17] sashgithub opened #43 "Bosch SHC: smokedetector_check not work"
I have trigger the service call smokedetector_check with the entity_id: binary_sensor.flur_battery of the smoke detector.
It doesn´t work yet. In The code The device ist the binary_sensor or I do something wrong?

Logger: homeassistant.helpers.script.websocket_api_script
Source: helpers/service.py:694
First occurred: 10:47:13 (1 occurrences)
Last logged: 10:47:13

websocket_api script: Error execu

[2021-12-29 10:21] sashgithub commented on #43
The same Problem by the service call "Bosch SHC: smokedetector_alarmstate"

[2021-12-29 10:25] tschamm commented on #43
The service is meant only for smoke detector binary sensor entities, not the battery entity of the smoke detector.

[2021-12-29 10:38] sashgithub commented on #43
But the twinguard has only the binary sensor for battery.

[2021-12-29 10:43] tschamm commented on #43
The twinguard is another product category at Bosch, thus services provided for smoke detectors cannot be used. Actually I'm not aware how to trigger the test alarm, or change settings of the twinguard via the API.

[2021-12-29 10:50] sashgithub commented on #43
Okay thanx.

I´m a beginner in programming.

This could possibly help:
Bosch Smart Home Local API for Twinguard
https://apidocs.bosch-smarthome.com/local/index.html#/States/put_devices__deviceId__services_SmokeDetectorCheck_state

[2021-12-29 10:51] tschamm commented on #43
I double checked, the twinguard does provide the same check, however I implemented the service only for smoke detector devices. I will provide an update for this.

[2022-01-04 23:26] Dherlou opened #44 "Trouble installing"
Hey guys,

I want to control my Bosch light switch controls from inside HA.

I have tried installing the `Bosch SHC`-Integration in `Configuration->Integrations->Add Integration->Bosch SHC`. However, I only get two sensor entities (`sensor.*_energy` and `sensor.*_power`) created in Home Assistant over this integration and hence cannot control the switches over them.

Later on, I found your integra

[2022-01-15 14:51] Crumar opened #45 "Feature Request: Show valvetappet on climate card"
Hi,

love the custom component. After upgrading from the builtin, I can do a lot more than before. However, I'd like to see the valvetappet in the climate card.
I think this might be difficult because there can be multiple radiator thermostats in one climate service, and I am not yet experienced enough with HA, but would like to chip in as well.

Can you provide some guidance where I need to start

[2022-01-20 09:40] romulus-ai opened #46 "No switch entity for light switches"
I have Bosch  light switches in my wall, connected to the home controller of bosch. In HA, I see the values for power an energy of each switch. However I cannot control the switch, there is no entity to do that.

[2022-01-20 12:22] tschamm commented on #46
You are using the official component, is that right? Switch entities are supported in the custom component, and hopefully soon also in the official one.

[2022-02-28 02:01] #38 closed

[2022-03-01 16:44] TomF79 opened #47 "Lux from Motion Detector"
Hi, thanks for your great Integration.
Is it possible to integrate a Lux Sensor from the Motion Detector?

BR Tom

[2022-03-06 17:59] saxn-paule opened #48 "[Question] Trigger alarm of all smoke detectors simultaniously"
Is it possible to trigger the siren of all smoke detectors simultaniously based on an HA automation? If yes, how?

[2022-03-09 16:04] hafnerra opened #49 "Failed to get public information from SHC Controller"
Hello,

i get after the upgrade to version 04.25 following error in the Log:

Logger: root
Source: /srv/homeassistant/lib/python3.9/site-packages/boschshcpy/api.py:142
First occurred: 16:57:11 (3 occurrences)
Last logged: 16:58:33
Failed to get public information from SHC controller: Could not find a suitable TLS CA certificate bundle, invalid path: /srv/homeassistant/lib/python3.9/site-packages/b

[2022-03-09 20:53] tschamm commented on #49
Hi,
can you see which version of boschshcpy has been installed? Actually the pem was not removed, why it is missing is unclear.
I guess you already tried a restart?

[2022-03-09 21:12] hafnerra commented on #49
I have Bosch SHC updated with HACS to 0.4.25. Then i restarted HA. I tried to delete and reinstall too, but always the same issue.
Where can i see the boschshcpy version?

[2022-03-09 21:43] hafnerra commented on #49
i have overwritten the files from this git repo
https://github.com/tschamm/boschshcpy
in following path
/srv/homeassistant/lib/python3.9/site-packages/boschshcpy

Now it work as before. I dont know why this is happen.

But thanks for help!

[2022-03-09 21:56] #49 closed

[2022-03-10 08:43] TomF79 opened #50 "Lot of failures und Log"
Since Last Update there are a lot of failures in the Log.

<img width="820" alt="PNG-Bild3" src="https://user-images.githubusercontent.com/93859783/157622398-a2d10904-c780-44b8-b2d8-516dd8fa3273.png">

[2022-03-10 11:23] tschamm commented on #50
Thanks for reporting. Are these errors reported after each restart?

[2022-03-10 11:27] tschamm commented on #49
Hi @hafnerra
still wondering whats the reason for this behavior. Maybe pip did not install the boschshcpy 0.2.29 version correctly. I just verified on my machine, the pem file is installed correctly after a `pip install boschshcpy==0.2.29`.
I'll reopen the ticket if I find out the reason behind...

[2022-03-10 11:41] TomF79 commented on #50
Now I deleted all failures in Log and will look which shows up again.

[2022-03-10 16:36] endsideX opened #51 "KeyError: 'smokeDetectionSystem'"
Unfortunately I have a problem in my Bosch integration since the last update. Various entities are displayed as unavailable.
In the logs I find the following entry, which apparently cancels the correct integration.

`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 249, in _async_setup_platform
    await asyncio.shield(task)
  File "

[2022-03-10 17:11] tschamm commented on #51
That's strange, but in line with others reporting issues with the new release.
Can you please try a restart and report if the issue still exists?

[2022-03-10 17:36] tschamm commented on #50
Hi @TomF79, there was an update of the SHC rolled out these days. Maybe these errors result from the auto-update of the SHC.

[2022-03-10 17:50] TomF79 commented on #50
Thanks for the Info. Till now there are no new failures since this morning. Maybe they were after a restart or from the auto update.

[2022-03-10 18:14] tschamm commented on #35
Hi @braunMarkus
same for me, while the update is running there are lots of error messages as the polling id gets invalidated. Directly after the update, the polling is resubscribed and the integration continues to work.

What is logged is basically this:
[code]
The update takes ~8min, but the long polling takes up again and updates all the devices.

Please reopen the issue, if the issue still exis

[2022-03-10 18:14] #35 closed

[2022-03-10 18:16] tschamm commented on #50
I'll close the issue then. Please reopen if problems come up again.

[2022-03-10 18:16] #50 closed

[2022-03-19 16:19] klemmchr opened #52 "Climate entities not shown"
I just switched from the official integration to the custom component integration to have the ability to control my room thermostats and climate controls. I deleted the official integration, loaded in the custom one and restarted hass. After the configuration was done all the previously configured entities showed up properly (meaning all the sensors and such) however no climate entity is present i

[2022-03-19 16:25] klemmchr commented on #44
The official integration is this integration but integrated into the official repository of hass. This is still WIP and being worked on. The official integration gives you no benefit over the custom component (besides easier installation).

If you added the custom component properly it will show up in your integrations without the need to manually add it. If you add it manually, this will take the

[2022-03-19 17:06] klemmchr commented on #52
This issue is probably related to #44

For me the integration is discovered after the restart but this is the official one and not the custom integration.

![image](https://user-images.githubusercontent.com/6552521/159130967-8166884a-6fc2-49fe-a7a4-57ae04ca3597.png)

[2022-03-19 18:30] klemmchr commented on #52
I managed to install it, now everything works properly.

[2022-03-19 18:30] #52 closed

[2022-03-19 18:32] klemmchr commented on #44
I managed to install it. Adding the custom integration plus restarting plus clearing cache does the trick. If you see an auto discovered integration there should be a little icon indicating it's a custom component. If this doesn't show up just add the integration manually (like with every other integration). It will use the custom component instead of the official integration.

[2022-03-20 06:06] kaystrobach opened #53 "Feature support humidity and other sensor data in statistics card"
Hi,

in lovelace you can create a multi value statistucs graph. Sadly the humidity of the twin guard and the thermostats can not be added.

please make this possible.

thank goodness you.

[2022-03-20 19:08] tschamm commented on #53
Hi, I added statistic features for sensor platform in 0.4.27, I changed the status from pre-release to release today.
![Bildschirmfoto 2022-03-20 um 20 06 11](https://user-images.githubusercontent.com/31720/159178544-d9ce733d-82b4-46a8-8d6e-16fa3614bb8d.png)

[2022-03-20 19:08] #53 closed

[2022-03-20 20:09] kaystrobach commented on #53
Awesome, just installed it. Graph card was created, now waiting for data. Thank you.

[2022-03-21 08:00] Dherlou commented on #44
Alright, thanks for the clarification, @klemmchr .
I will try your tip regarding the installation after work today. :)

[2022-03-23 07:18] Dherlou commented on #44
Hey @klemmchr ,

I was able to get this custom component working now. All of my devices and entities are detected and controllable perfectly fine now. I also updated HA to 22.02, maybe it was a problem with my old 21.9(?) version of HA that I had been running before. Anyways, it gets the job done perfectly now. Thanks for your help. :)

[2022-03-23 07:18] #44 closed

[2022-04-13 12:10] xwnzzy opened #54 "Connect second controller?"
Is it possible to connect a second controller or even a third to the system?
I've tried a few things, but i could not figure out how to do this.

At first it seems to work but then the authentification fails.
I guess that this happens because there is only one cert and key?

Thanks

[2022-04-15 08:19] tschamm commented on #54
This feature is currently not available. Support for multiple cert/key pairs needs to be implemented in the 3rd party library.

[2022-04-15 08:33] tschamm commented on #54
I just wrote a short proof of concept (not yet tested), you can test it by checking out this branch:
https://github.com/tschamm/boschshc-hass/tree/feature/multi_shc_support

[2022-04-15 09:20] u20p17 opened #55 "Setup failed for custom integration bosch_shc: Requirements for bosch_shc not found: ['boschshcpy==0.2.31']."
Hi,
since the last update (0.4.28) I get the following error:

HA OS and core version is the latest (core-2022.4.4, Home Assistant OS 7.6)

How can I fix this?

BR

[2022-04-15 09:32] hafnerra commented on #55
Same problem here

[2022-04-15 10:01] tschamm commented on #55
Sorry, missed uploading the package, issue should be fixed now.

[2022-04-15 10:05] u20p17 commented on #55
thanks! now I have no issues again (Y)

[2022-04-15 10:08] #55 closed

[2022-04-15 16:58] Schopenhauer178 opened #56 "HomeCom / Heating Integration"
Hi,

I'm using the Integration for a Long time now and like it very much. Heave you ever thought about integrating the gas heatings that can already be connected via Bosch HomeCom to the Bosch Smart Home? This would lead to a bunch of new functions like automations to turn on / off the water heating when home or not home for instance. Also the statistics for the solar water buffer temperatures cou

[2022-04-15 18:36] tschamm commented on #56
Hi Sven,
via Bosch Smart Home, you can receive some parts of the HomeCon system. Support for HeatingCircuits of my own heatpump is already implemented in the 3rd party library. From my experience, a full featured Heating Integration can be achieved best by direct access to the EMS bus, e.g. [EMS-ESP devices](https://bbqkees-electronics.nl).

However I can add additional features, if you can provid

[2022-04-17 10:27] Schopenhauer178 commented on #56
Hi Thomas,

thanks for your reply, it gave me the right hint. I'm using the Bosch MBLani Module which is already connected to the EMS Port (probably kind of the same device like in your link). The MBlani module connects my Bosch smart home room thermostats to the central heating in order to change the central heating temperature set point automatically.

I used this integration on GitHub https://g

[2022-04-19 14:42] xwnzzy commented on #54
I just tested it with 3 controllers and so far it works great!

Thanks for the quick help.

Vielen Dank und liebe Grüße

[2022-04-19 19:43] tschamm commented on #54
Just being curious, what's the use case for this?
I assume this is a feature not even supported by Bosch itself. Nice!
I will merge into master the next days.

[2022-04-20 07:04] xwnzzy commented on #54
We use Bosch Smart Home in our office building. Currently, we still control the individual components with a tablet and 2 cloned apps on an Android tablet. But I would like to change this to get a better overview of the devices.

Bosch itself now says that you can connect a maximum of 100 devices that use the proprietary wireless protocol to one SHC. And since we expect to use more than 100 device

[2022-05-22 17:48] Lyr3x commented on #31
This occurs fairly often due to automations I use. Some of my lights may turn on and off quickly and then suddenly non of those lights are available for some time receiving `503`.

[2022-07-01 06:25] Gloomyeye opened #57 "Deprecated warning async_get_registry"
Hello,

the following warning message occurs at startup of home assistant (core-2022.6.7):

Logger: homeassistant.helpers.frame
Source: helpers/frame.py:103
First occurred: 08:18:50 (1 occurrences)
Last logged: 08:18:50

Detected integration that uses deprecated `async_get_registry` to access device registry, use async_get instead. Please report issue to the custom component author for bosch_shc u

[2022-07-12 17:59] dolodobendan opened #58 "Switches not recognized in latest HA"
Window contacts, power plugs, and the universal switch stopped working after upgrading to 2022.7.3. I think it worked fine with 2022.7.0 but I'm not sure. Reverting to 2022.6.7 made these devices available again.

BOSCH SHC is installed via HACS.

Thank you for your work!

[2022-07-13 18:28] tschamm commented on #58
Actually I cannot confirm this. I am running 2022.7.3, not having any problems, neither with switch nor plugs.
Maybe restart your SHC helps?

[2022-07-13 20:49] dolodobendan commented on #58
Interesting. I restarted both SHC and HA to no avail. Since then there was an update for SHC, maybe it fixes things.

[2022-07-14 12:38] #58 closed

[2022-08-07 15:39] HAuser2019 opened #59 "_long_poll returned and SHC claims unknown poll i, showing up in the log."
[code]

[code]

[2022-08-10 19:05] HAuser2019 commented on #59
Keeps occurring.

[2022-08-11 10:42] tschamm commented on #59
Thanks for reporting. I cannot confirm this. Did you try a re-authentication?

[2022-08-11 18:41] HAuser2019 commented on #59
Thanks for responding. I did remove it, and re-add it. Now I'll wait if it appears again...don't know yet!

[2022-08-15 15:50] HAuser2019 commented on #59
Seems to work fine now with this re-authentication. By the way, can you add the Bosch "Intrusion Detection System" feature to the official Bosch integration? I'd like to move to the official config without hacs. :-)

[2022-08-15 15:50] #59 closed

[2022-08-29 19:54] HAuser2019 commented on #43
Hi, would you pleaaaase add the SmokeDetector and IntrusionDetection from the Hacs intergration to the official Bosch SmartHomeController intergration in Home Assistant? It's being missed very much!
Can I buy you a coffee?

[2022-08-29 20:24] tschamm commented on #43
I'll add the smoke detector pull request after the holidays.
I'm sorry this takes so long, but PR reviews are lasting so long...

[2022-09-07 13:40] erd82 opened #60 "Single thermostat as entity (next to room climate)"
I have multiple Bosch thermostats II in my apartment. If several thermostats are part of a room ...
![image](https://user-images.githubusercontent.com/63564291/188891487-39b4aeb6-a8e8-4f2e-b332-58f79cdbc2f8.png)

... in the mobile app > Favorites, these thermostats are combined in a room view (here a simple example). Finally only the average room temperature is displayed, not the single thermostat

[2022-09-07 18:11] erd82 commented on #60
Or could it be that the [Bosch Smart Home Radiator Thermostat II](https://www.amazon.de/Bosch-Smart-Home-Heizk%C3%B6rperthermostat-App-Funktion/dp/B0B6BWTMHW/ref=sr_1_30?adgrpid=71101403476&gclid=Cj0KCQjwguGYBhDRARIsAHgRm4_qIkxHPEDmCn8UAo-OkMYFrkXQ6Tv8iDYaZmnSKwX00BvHhR76c8caApaTEALw_wcB&hvadid=596070578061&hvdev=c&hvlocphy=9043142&hvnetw=g&hvqmt=b&hvrand=5589694648199988213&hvtargid=kwd-602116329

[2022-09-08 09:27] erd82 commented on #60
In the [HA Community discussion](https://community.home-assistant.io/t/bosch-shc-add-temperature-control/356123/5) we figured out that the [Bosch Smart Home Radiator Thermostat II](https://www.amazon.de/Bosch-Smart-Home-Heizk%C3%B6rperthermostat-App-Funktion/dp/B0B6BWTMHW/ref=sr_1_30?adgrpid=71101403476&gclid=Cj0KCQjwguGYBhDRARIsAHgRm4_qIkxHPEDmCn8UAo-OkMYFrkXQ6Tv8iDYaZmnSKwX00BvHhR76c8caApaTEALw_

[2022-09-17 14:48] tschamm commented on #60
I added this functionality with boschshcpy==0.2.34, which is included in version 0.4.30. Fixed by [9a72009](https://github.com/tschamm/boschshc-hass/commit/9a72009921851b32e48e525fbaed189ed4f511f2)

[2022-09-17 14:48] #60 closed

[2022-09-17 14:48] tschamm commented on #57
Thank you for reporting. I fixed this with commit [9a72009](https://github.com/tschamm/boschshc-hass/commit/9a72009921851b32e48e525fbaed189ed4f511f2)

[2022-09-17 14:48] #57 closed

[2022-09-25 20:27] KianaOtter opened #61 "Bosch SHC not generating unique IDs"
Hi,

Since my house has two apartments and the walls are too thick for the signal to reach both of them, I'm using two separate Bosch Smart-Home-Controllers. Until recently, I've handled this by having the lower apartments controller on an old phone, but I wanted to change this with HA. I started by using the official HA plugin, but it doesn't support the "Room Climate" control, so I switched to t

[2022-09-25 21:34] tschamm commented on #61
Hi @KianaOtter
thank you for reporting. I'm wondering why this happens. The unique-id is based on the MAC address of the SHC, which should be unique as such.

Can you send me the content of your ```HA-config-dir/.storage/core.config-entries```, for the entry with `"domain": "bosch_shc"`? Following your description, this entry should be available two times.

[2022-09-25 22:04] tschamm commented on #61
Actually using multiple SHCs is not yet supported. When extending the entities unique_id this would make all existing entities invalid, which would be a breaking change for all users. I'll think on another solution.

[2022-09-26 01:13] KianaOtter commented on #61
Thanks!

Wouldn't it be possible to just catch the exception and add a UUID or something only when it occurs? That way it wouldn't break currently working deployments.

[2022-09-26 12:11] Marow commented on #30
Is it possible to show percentage of the battery instead of like "normal" or so?

[2022-09-27 11:24] erd82 opened #62 "Not all ROOM_CLIMATE_CONTROL devices visible in HA"
Hello,

We have 5 rooms configured in Bosch Smart Home. Actually there should be 5 room climates displayed in Home Assistant.
How can I the missing "room climates" into Home Assistant?

Thanks & kind regards
_____________________

We have a Bosch Smart Home setup with:
* 5 rooms
* 1 [controller](https://www.amazon.de/Bosch-Smart-8750002076-White-Controller/dp/B0B5S391YF/ref=sr_1_1_sspa?keywords=bo

[2022-09-27 11:35] erd82 commented on #62
@tschamm: We are running two SHCs in parallel reporting to one HA instance. I just saw that you wrote in https://github.com/tschamm/boschshc-hass/issues/61#issuecomment-1257288619 that multiple SHCs are not supported. Could that be the reason?

[2022-09-27 11:45] erd82 commented on #62
Ok, it looks like it is related to https://github.com/tschamm/boschshc-hass/issues/61. I just found these logs.

![image](https://user-images.githubusercontent.com/63564291/192516776-4750621b-1ef1-4ae0-99ac-5cad2c07ee3e.png)

[2022-10-01 13:24] HAuser2019 commented on #61
Same here with the HACS version of Bosch SHC (using HACS version due missing features like smoke, alarm, movenment sensor etc in official version).

[code]
and

[code]

[2022-10-01 14:32] tschamm commented on #61
@HAuser2019: Please create a new issue. Can you also provide which kind of device (SmartPlug / PSM, SmartPlugCompact / PLUG_COMPACT, ...) is failing to provide the routing service?

[2022-10-02 02:27] KianaOtter commented on #61
Thank you for the update!

The devices and entities show up in both controllers now. Unfortunately, the devices and entities seem to be the same. Clicking on them in either the lower or upper apartments controller brings up the one from the lower apartment only. Changing the entity IDs or the area manually changes the value for the device in both controllers.

Even the related tab of the entity ha

[2022-10-02 06:10] tschamm commented on #61
Maybe both entities had the duplicate entries in the registry before we applied the new uid format. If you delete both config entries and reconfigure them again, I assume it should work.
If this doesn’t work, please share the content of the `core.entity_registry`, which is located in `ha-config/.storage/`.

I don’t have another second SHC for testing at home, so debugging is tricky.

[2022-10-02 13:55] KianaOtter commented on #61
I already fully set up one of the controllers, so I tried to only delete the other one in the hopes it would work anyway. Unfortunately, this did not work, and the devices are still combined. The way I deleted the controller is through the UI, integrations, and delete. Is that what you meant by "delete both config entries"?

Since it didn't work with only deleting one configuration, I'll delete bo

[2022-10-02 15:07] tschamm commented on #61
Yes exactly, delete both controllers via the UI. Then do a restart of HA and add the two SHCs again.
What would help: please paste the two entity entries of the SmokeDetectionSystem here. They should not have the same unique id anymore.

[2022-10-02 15:14] tschamm commented on #61
@KianaOtter
Maybe wait with deleting both controllers. I just found two links which may be related to your issue.
https://community.home-assistant.io/t/one-device-multiple-integrations/358767/3
https://developers.home-assistant.io/docs/device_registry_index/#defining-devices
I'll read through and give feedback after.

[2022-10-02 15:26] tschamm commented on #61
Maybe the reason is that I create the same device ID for multiple entities (all entites which does not provide a unique serial number).

Can you paste the entity entries of the SmokeDetectionSystem (should be two of them) from `ha-config/.storage/core.entity_registry`. And please also paste the device entry of the SmokeDetectionSystem (one or two, I guess only one) from `ha-config/.storage/core.de

[2022-10-02 19:56] KianaOtter commented on #61
Here are the entries you wanted. As you guessed, there's only one device entry.

`core.entity_registry`:
[code]

`core.device_registry`:
[code]

[2022-10-06 12:31] #62 closed

[2022-10-06 12:50] erd82 opened #63 "Thermostats showing 0 degree after update"
After installing the [latest October update](https://www.bosch-smarthome.com/de/de/service/aktuelle-meldungen/release-infos/system-solutions/2022-10-05.html), some of the thermostats (HT II) only show 0°C in Home Assistant.

![image](https://user-images.githubusercontent.com/63564291/194314108-a6e12674-3440-42be-8af9-ebbae895a523.png)

![image](https://user-images.githubusercontent.com/63564291/19

[2022-10-06 19:14] erd82 commented on #63
Due to any reason we had a short blackout of around 2 seconds which caused (1) a reboot of my Home Assistant installation and (2) a reboot of the Bosch Smart Home Controller. After that the temperature is correctly transferred to Home Assistant again.

![image](https://user-images.githubusercontent.com/63564291/194399218-c1a2f8fb-e4a6-48f4-80b3-9323a119719b.png)

Finally there could be two reasons

[2022-10-29 22:08] nikolozka commented on #63
Just set up my new bosch kit today and i'm seeing a similar problem. seemingly triggered by changing the valve temperature, but not really 100% surethat's really the trigger.

Valvetappet entity doesn't see to be affected.

Restarting the HA instance doesn't seem to help. I tried resetting the Bosch Controller once and it seemed to resolve the problem, but it takes quite a bit of time for it to co

[2022-10-30 17:54] dolodobendan opened #64 "One SHC and two HA instances?"
Hi, I have two HA instances: One for daily use (HA), and one for testing purposes (TEST). It's only active on HA right now because as soon as I enable it on TEST, it stops working on HA (and vice versa). Is it possible to somehow connect both instances to one SHC? It would make testing things a lot easier.

[2022-11-01 05:36] nikf86 commented on #45
I am trying to achieve the exact same thing but additionally exposing them to homekit. Currently i am trying to expose the valvetappet entities to homekit alone but with no success. If this value could be shown directly in the climate sensor card i think it would be then directly exposed to homekit also.

[2022-11-04 10:18] u20p17 opened #65 "HVAC mode of Bosch thermostat get set to automatic mode automatically"
Hi all,
I am using Schedy (https://hass-apps.readthedocs.io/en/stable/apps/schedy/) for my heating schedule and it is working fine except one issue with the setting of the HVAC mode. As thermostats I am using the Bosch ones: https://www.bosch-smarthome.com/de/de/produkte/vorgaengermodelle/heizkoerper-thermostat/

![image](https://user-images.githubusercontent.com/63282286/199948394-b52c8b67-a592-4

[2022-11-04 16:01] armin-gh commented on #64
Same scenario works without problems here.
And I doubt the SHC Controller knows the difference between a HA instance connected and any other client like a mobile phone, all are just clients allowed to connect and send/receive data using the REST-Interface.

Anything your two HA instances have in common, like IP-Address or MAC?

Armin

[2022-11-06 10:31] glumanda opened #66 "FeatureRequest: New Config-Field client_id to connect multiple home assistant instances to one bsh-box"
Please add a new config field in config_flow.py for using as arguments in function "create_credentials_and_validate". The new field is the input for the first and second (!) argument in function call "register" (result = helper.register(host, "HomeAssistant") at line 47. I checked this by hardcoding at my three ha instances (developement, integration and production) and it works.

The first argume

[2022-11-06 22:51] dolodobendan commented on #64
Thank you, Armin, for your response. That was my assumption, too, but it never worked. I guess I'll just try it again.

Not sure what this could be. One instance is running on a raspberry pi, and the other on an ubuntu server.

[2022-11-07 08:50] armin-gh commented on #64
Hi
the issue with the IP/MAC is something I have seen with cloned virtual machines, but this is obviously not the case here.

You are using the integration from HACS or installed it manually as custom integration? The integration included with HA has, as far as I know, still limited features

When I installed my initial system ( the one I'm using as "production" now), the integration could not dir

[2022-11-07 16:02] dolodobendan commented on #64
At the moment only the raspberry instance ("production") has the HACS version installed.

I saw that, too. Maybe? I just remembered that I couldn't install the HACS version on my test system. I'll try again.

--

I could install it this time, but I have the same error as before:

![image](https://user-images.githubusercontent.com/37902856/200356826-f0ef04c7-8d2f-4b9f-9a48-fca8e7619287.png)

![imag

[2022-11-07 16:22] armin-gh commented on #64
After registering your main system again, you can try the following ( until the feature request in #66 leads to an official solution):
Modify config_flow.py line 46 on your test system and change
`result = helper.register(host, "HomeAssistant")
`
to something like
`result = helper.register(host, "HomeAssistantTest")
`
This is executed only once to retrieve the certificate from the controller, afte

[2022-11-07 20:20] dolodobendan commented on #64
Thank you, I'll give it a try as soon as I find that file on the test system.

One thing I should have mentioned before: On the test system, HA and HACS are installed via snap.

[2022-11-08 11:15] techsupportaifb opened #67 "compatibility issues - Bosch Door / window contact II !?"
Hi there,

I managed to conect my Bosch Controller to Home Assistant via the Integration. And it seemed to work fine, till I realised that all of the Door / window contact II are not shown in Home Assistant. Does your integration not support them to date or am I missing something?

Thank you in advance for your help.

[2022-11-08 17:04] armin-gh commented on #64
hmm...
can't help with snap, both my installation are running Home Assistant Core in a Python venv
but if you changed the code on the normal system, this only helps if you re-registered the normal system with the controller.
When using the SHC-App on a mobile device and going to (sorry, only have the german wording), "Mehr", "Mobilgeräte" you see a list of registered devices. One of them is named

[2022-11-08 20:13] dolodobendan commented on #64
Snap can be annoying. I had some trouble with NextCloud.

Of course. Since I had I alternated between having to register the test system and the regular system, there was plenty of time to get the new name from the new code.

Coincidentally, German is the system's language on my phone. 😉

Huh. I do NOT thee the expected "oss_HomeAssistantRPi_Binding" here.

![image](https://user-images.githubuserc

[2022-11-09 12:34] AudiIT-max commented on #67
That would be very interesting for me as well. Have 5 Bosch window sensors II Plus and a window senor II.

At the moment I have them integrated in Apple Home and per sensor one automation to activate and one to deactivate a boolean helper from HomeAssistant. This is not ideal and functions such as the vibration sensor of the Plus models cannot really be integrated well in Apple Home anyway

Thank

[2022-11-09 16:06] armin-gh commented on #64
hi
the location of the file is custom_components/bosch_shc, absolute path differs depending on type of installation, for my Python venv it is /home/homeassistant/.homeassistant/custom_components/bosch_shc

not sure if this also depends on the type of installation, in the integrations page my Bosch SHC is flagged as custom component in the upper right corner. Like all other integrations I downloade

[2022-11-09 16:56] dolodobendan commented on #64
Hi Armin,

both installations are HACS installations with this box thingy in the upper right corner:

![image](https://user-images.githubusercontent.com/37902856/200891100-d16521f1-303b-44f5-8427-60ea556b18e9.png)

It is safe to assume that I edited the right file as the change in the binding's name was adopted IF there was no existing binding.

[2022-11-09 17:37] armin-gh commented on #64
seems more to be behind the registration process than I thought...

my main system is still using the initial way to register a device for the controller, you had to manually create the certificate and the key for the client and then register the device using "postman", as decribed here
https://github.com/BoschSmartHome/bosch-shc-api-docs/tree/master/postman
to configure the integration you then h

[2022-11-09 20:23] dolodobendan commented on #64
Thank you, I'll give the manual registration a try!

[2022-11-09 20:43] dolodobendan commented on #65
Not sure if it is related, but I see this with Tado:

![image](https://user-images.githubusercontent.com/37902856/200937705-f295393c-39b6-4f3e-86c6-20a5401b591f.png)

I don't know what caused the changes.

[2022-11-11 19:07] DFS-90 opened #68 "compatibility issue - Bosch light / shutter control II not detected"
Hi,

I use the HACS version of this plugin.
As I recently installed some "light / shutter control II" devices, I tried to integrate those into my Home Assistant setup.

Unfortunately, I wasn't able to detect my new devices.
Is this a known limitation / problem / incompatibility or am I doing something wrong?

Is there a possibility to integrate the "light / shutter control II" devices in the same

[2022-11-11 20:38] tschamm commented on #68
This is basically a feature request for the 3rd party library. I don't own the light/shutter control II (yet), so you can help here by posting the device's JSON data. For the Shutter Control I it looked as follows:
[code]

[2022-11-11 20:41] tschamm commented on #67
This is basically a feature request for the 3rd party library. I don't own the window sensor II, so you can help here by posting the device's JSON data. For the Shutter Control I it looked as follows:
[code]

[2022-11-11 22:36] AudiIT-max commented on #67
This is the window sensor II:
{
            '@type': 'device'
            'rootDeviceId': '64-da-a0-11-9e-e5'
            'id': 'hdm:ZigBee:18fc26000002c65e'
            'deviceServiceIds': ['CommunicationQuality', 'ShutterContact', 'BatteryLevel', 'Bypass']
            'manufacturer': 'BOSCH'
            'roomId': 'hz_2'
            'deviceModel': 'SWD2'
            'serial': '18FC26000002C65E'

[2022-11-12 08:57] tschamm commented on #67
Thank you, that's the info I was looking for. Can you also post the JSON for the additional service `Bypass` of the device?

[2022-11-12 14:43] AudiIT-max commented on #67
Hi,
I'm having trouble getting Postman to work on my end, but can't seem to get the Python command to get the JSON from the bypass.
For the JSON over from above I could just use
`print(session.api.get_devices())`
use.
Postman always just gives me the message for the same certificates as the python script:
`Error: write EPROTO 140338376010984:error:10000412:SSL      routines:OPENSSL_internal:SSLV3_

[2022-11-13 19:52] joostme commented on #68
I already created the PR for the boschshcpy lib: https://github.com/tschamm/boschshcpy/pull/16
But for completeness sake here is the output from the API

[code]

[2022-11-14 08:53] joostme commented on #67
The output from my sensor for the `Bypass` service:

[code]

When I double-click the button the state changes to `BYPASS_ACTIVE`.
`timeout` is the Timeout in minutes in which Bosch SHC ignores the state of the window for automations.
If I disable the timeout in the app, `infinite` will be `true`

Sadly the button does not seem to send any event when short or long-pressing it. In the App I can conf

[2022-11-14 15:01] DFS-90 commented on #68
Sorry for my delayed answer - I first had to find out how to use Postman and how to establish a secured connection to my Bosch Smart Home controller.

This is the Postman output for one of my shutter controls:

<html><body>

0 |  
-- | --
@type | "device"
rootDeviceId | "64-xx-xx-xx-xx-xx"
id | "hdm:ZigBee:dc8exxxxxxxxxxxx"
deviceServiceIds |  
0 | "ShutterControl"
1 | "CommunicationQuality"
2 | "

[2022-11-15 09:32] mvalero opened #69 "Upgrading component to newest version"
Hello,

I was wondering how to upgrade the custom component to a newer version and saw that there is no information about that on the readme.

Is it possible to just follow the same steps as for the initial installation and replace the component code with its newest version? Or are there any things that must be taken into account?

Thx in advance

[2022-11-15 16:59] joostme commented on #68
@DFS-90 yeah you're right. I accidentally commented on the wrong issue. My bad

[2022-11-16 12:44] PhilippF1992 opened #70 "Set the room thermostate to cooling"
Hi,

is it possible to set the room thermostat to cooling? Like in the native bosch app?
When I read your code correctly, it supports 3 HVAC modes currently: Auto, Heating and Off.
Can we add the option to set it to cooling or does the bosch-API not provide this?

If I am wrong and it is already present, can you please help me to find the proper setting?

Thanks in advance and all your effort to p

[2022-11-23 08:56] ceedee666 commented on #68
I just created a pull request (https://github.com/tschamm/boschshcpy/pull/19) to add initial support for the Bosch light / shutter control II.

[2022-11-23 09:08] DFS-90 commented on #68
Already done - please see [include support for "Bosch light / shutter control II" (deviceModel: "MICROMODULE_SHUTTER")](https://github.com/tschamm/boschshcpy/pull/18/files) ;-)

[2022-11-23 20:17] tschamm commented on #69
Do you use HACS or have you installed it manually in the custom component directory? If you are using HACS, you can use the update mechanism provided there (https://hacs.xyz/docs/basic/updates/). Otherwise just replace the component code with the newest version.

[2022-11-23 20:17] #69 closed

[2022-11-23 20:38] tschamm commented on #70
I assume you are using the wall thermostat (`THB` or `BWTH`) and not the room thermostat (`TRV` or `TRV_GEN2`), correct?
If you are able to set the room thermostat to cooling in the native Bosch App, this should be possible in principle. HA supports device modes for cooling as well as for heating. However, the cooling mode is normally controlled via the heating system and not via the wall thermost

[2022-11-23 20:42] tschamm commented on #68
Thank you! The additional services `PowerMeter`, `ChildProtection` as well as `SwitchConfiguration` are not yet supported.

[2022-11-23 20:42] #68 closed

[2022-11-24 11:54] arifroni commented on #65
I am also having this issue for some days. I have "better thermostat" to control the BOSCH thermostats II. When i set a temperature (eg: 22 ) with better thermostat, it goes to auto schedule and set target temperature as it is scheduled in bosch app. But i have turned of auto schedule in bosch app before.

[2022-11-29 07:18] u20p17 commented on #65
@tschamm: any idea what could be the problem or how we could debug into it? Would be nice that we could solve it :)

[2022-11-30 06:20] tschamm commented on #65
Maybe the implementation for climate devices is not accepting changes from outside. I'll have a look in the next days.